.basketItem {
  display: flex;
  margin-top: 20px;
}

.basketItem__image {
  height: 200px;
  width: 100;
  object-fit: contain;
  margin-left: 30px;
  margin-right: 50px;
}

.basketItem__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.basketItem__info > p {
  font-size: 1.15em;
  font-weight: 700;
}

.basketItem__pricing > strong {
  font-size: 1em;
  font-weight: 600;
}

.basketItem__rating {
  color: orange;
}

.basketItem__removeButton {
  margin-top: 20px;
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
